@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  background-image: url(./churrasco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Righteous', sans-serif;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 100%;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 10px;
}

input {
  width: 100%;
  display: block;
  padding: 0.7rem;
  box-sizing: border-box;
  margin-bottom: 10px;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: bisque;
  text-align: center;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}
input:hover {
  background-color: lightgoldenrodyellow;
}

button {
    outline: none;
    border: none;
    padding: 0.7rem;
    background-color: black;
    border-radius: 10px;
    font-weight: normal;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
    width: 48%; 
    display: inline-block;
    box-sizing: border-box; 
  }
  
  .calculate {
    margin-right: 4px; 
  }
  

img {
  width: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.meet,
.beer,
.soda {
  text-align: center;
}

.meet img,
.beer img,
.soda img {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.top {
  width: 5rem;
}

@media screen and (max-width: 450px) {
  body {
    padding: 20px;
  }

  .container {
    max-width: 100%;
  }

  input,
  button {
    width: 48%; 
    display: inline-block;
    box-sizing: border-box; 
  }

  .calculate {
    margin-right: 0.5rem; 
  }
}
